# ===== OS =====
.DS_Store
Thumbs.db

# ===== Java =====
*.class
*.jar
*.war
*.ear

# ===== Maven (optional) =====
target/

# ===== NetBeans =====
nbproject/private/
build/
dist/

# ===== Node =====
node_modules/

# ===== Logs =====
*.log

# ===== Env =====
.env
