# ===== OS =====
.DS_Store
Thumbs.db

# ===== Java =====
*.class

# ===== Maven =====
target/

# ===== NetBeans =====
nbproject/private/
nbproject/private.xml
build/
dist/

# ===== Node (nếu có FE sau này) =====
node_modules/

# ===== Logs =====
*.log

# ===== Env =====
.env
